* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin-top: 5%;
  text-align: center;
  color: yellow;
}
body {
  background-image: url('/images/rock.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.board {
  padding: 5px;
  margin-top: 5%;
}
#keys {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  min-width: 500px;
}
.inputBoxes {
  border: solid 2px yellow;
  background-color: black;
  border-radius: 10px;
  color: yellow;
  padding: 5px;
  font-size: 25px;
  animation-name: example;
  animation-duration: 4s;
  position: relative;
  height: 70px;
}
p {
  text-align: center;
  color: yellow;
  margin-top: 5%;
}
p:hover {
  font-size: 50px;
}
.top {
  margin: auto;
  text-align: center;
  color: rgb(255, 255, 0);
  background-color: rgba(10, 10, 6, 0.623);
  width: 350px;
  border-radius: 10px;
  font-size: 25px;
}

/* @keyframes example {
  50% {
    margin-top: 20px;
  }
} */
